* {
    margin: 0px;
    padding: 0px;
}

#base {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 700px;
}

#header {
    background-color: rgb(212, 212, 212);
    width: 700px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-family: cursive;
    font-weight: bold;
    padding-left: 20px;
}

#occupation {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 20px;
}

#main {
    background-color: rgb(41, 22, 41);
    width: 700px;
    flex: 25;
}

#footer {
    background-color: rgb(212, 212, 212);
    width: 700px;
    flex: 3;
}