* {
    margin: 0px;
    padding: 0px;
}

#base {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 700px;
}

#header {
    background-color: rgb(212, 212, 212);
    width: 700px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-family: cursive;
    font-weight: bold;
    padding-left: 25px;
    font-size: large;
}

#occupation {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 25px;
    font-size: 14px;
}

#main {
    width: 700px;
    flex: 25;
    background-image: radial-gradient(circle at center, grey, rgb(41, 22, 41));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#maintop {
    margin: auto;
    width: 650px;
    height: 170px;
    outline: 2px dotted red;
    display: flex;
    justify-content: space-between;
}

img {
    height: 164px;
    border: 3px solid rgb(177, 177, 177);
}

.label {
    color: white;
    background-color: grey;
    height: 25px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.content {
    background-color: rgb(226, 226, 226);
    font-family: sans-serif;
}

#about {
    width: 370px;
}

#about p:first-of-type {
    padding: 6px;
    font-size: 11px;
}

#about p:nth-of-type(2) {
    padding: 6px;
    font-size: 11px;
}

#about p:nth-of-type(2) span:nth-of-type(5) {
    display: block;
}

#about p:nth-of-type(3) {
    text-decoration: underline;
    font-size: 11px;
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 13px;
}

.nowrap {
    display: inline-block;
}

#mainbot {
    margin: auto;
    margin-top: 0px;
    width: 650px;
    height: 370px;
    outline: 2px dotted red;
}

#footer {
    background-color: rgb(212, 212, 212);
    width: 700px;
    flex: 3;
}