* {
    margin: 0px;
    padding: 0px;
}

#base {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 700px;
}

#header {
    background-color: rgb(245, 245, 245);
    width: 700px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-family: cursive;
    font-weight: bold;
    padding-left: 25px;
    font-size: large;
}

#occupation {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 30px;
    font-size: 14px;
    font-weight: bold;
}

#main {
    width: 700px;
    flex: 25;
    background-image: radial-gradient(circle at center, grey, rgb(41, 22, 41));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#maintop {
    margin: auto;
    width: 650px;
    outline: 1px dotted red;
    display: flex;
    justify-content: space-between;
}

#jaynedoe {
    border: 3px solid rgb(177, 177, 177);
    width: 275px;
}

.label {
    color: white;
    height: 25px;
    padding-left: 6px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: linear-gradient(0deg, rgb(204, 204, 204) 0%, rgba(136,136,136,1) 50%, rgb(204, 204, 204) 100%);
}

.content {
    font-family: sans-serif;
    background: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(202, 190, 207) 100%);
}

#about {
    width: 350px;
}

#about .content {
    height: 162px;
    font-size: 11px;
    /* outline: 1px dotted red; */
}

#about p:first-of-type {
    padding: 6px;
}

#about p:nth-of-type(2) {
    padding: 6px;
}

#about p:nth-of-type(2) span:nth-of-type(5) {
    display: block;
}

#about p:nth-of-type(3) {
    text-decoration: underline;
    padding: 6px;
    padding-bottom: 13px;
}

.nowrap {
    display: inline-block;
}

#mainbot {
    margin: auto;
    margin-top: 0px;
    width: 650px;
    height: 360px;
    outline: 1px dotted red;
    display: flex;
    justify-content: space-between;
}

#lamode {
    width: 206px;
    text-align: justify;
    outline: 1px dotted red;
}

#lamodeimg {
    width: 206px;
}

#lamode p {
    padding-top: 3px;
    padding-right: 5.5px;
    padding-left: 5.5px;
    padding-bottom: 30px;
    width: 94%;
    font-size: 10.1px;
}

#lamode div:nth-of-type(4) {
    outline: 1px dotted red;
    text-align: center;
}

#lamode div:nth-of-type(4) span:first-of-type {
    display: flex;
    justify-content: space-evenly;
}

#lamode div:nth-of-type(4) span:nth-of-type(2) {
    display: flex;
    justify-content: space-evenly;
    width: 128.5px;
}

#lamode div:nth-of-type(4) img {
    width: 25px;
    margin-top: 5px;
}

#lamode div:nth-of-type(4) {
    outline: 1px dotted red;
}

.button {
    color: white;
    background-color: green;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-size: 10px;
    padding: 3px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}

#contacts {
    width: 206px;
    text-align: justify;
}

#contactsimg {
    width: 206px;
}

#contacts p {
    padding-top: 3px;
    padding-right: 5.5px;
    padding-left: 5.5px;
    padding-bottom: 40px;
    width: 94%;
    font-size: 10.1px;
}

#sixteen {
    width: 206px;
}

#sixtimg {
    width: inherit;
}

#footer {
    background-color: rgb(245, 245, 245);
    width: 700px;
    flex: 3;
}